In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/btcusdt_3m_train.csv")
df = df[19:]
df.head()

               datetime      open      high       low     close     volume
19  2018-01-01 06:27:00  13528.98  13574.05  13452.56  13529.01  30.930862
20  2018-01-01 06:30:00  13528.99  13571.74  13481.82  13530.98   9.865947
21  2018-01-01 06:33:00  13530.98  13530.98  13481.82  13510.85  17.731324
22  2018-01-01 06:36:00  13520.76  13520.76  13453.00  13453.00   9.125183
23  2018-01-01 06:39:00  13460.00  13479.00  13402.28  13469.99  24.721129

In [3]:
fall_dict = {}
rise_dict = {}
for i in range(0,len(df),480):
    first_close = df.iloc[i]['close']
    fall_lst = []
    rise_lst = []
    for j in range(i+1,min(i+480, len(df))):
        if df.iloc[j]['close'] < first_close:
            fall_lst.append((df.iloc[j]['close'] - first_close)/first_close)
        elif df.iloc[j]['close'] > first_close:
            rise_lst.append((df.iloc[j]['close'] - first_close)/first_close)
    fall_dict[i] = fall_lst
    rise_dict[i] = rise_lst

In [4]:
print(len(fall_dict))
print(len(rise_dict))

932
932

In [6]:
count_1_per_fall = 0
for key, value_list in fall_dict.items():
    if any(value < -0.005 for value in value_list):
        count_1_per_fall += 1
print("1_per fall: ", count_1_per_fall)
count_1_per_rise = 0
for key, value_list in rise_dict.items():
    if any(value > 0.005 for value in value_list):
        count_1_per_rise += 1
print("1_per rise: ", count_1_per_rise)

1_per fall:  747
1_per rise:  748